{% load static %}
{% load crispy_forms_tags %}
<!-- new  -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'users/django.svg' %}">
    <link rel="stylesheet" href="{% static 'users/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'users/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/main.css' %}">

    {% if title %}
        <title>LMS - {{ title }}</title>
    {% else %}
        <title>LMS</title>
    {% endif%}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'LMS-home' %}">LMS</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i><img src="{% static 'users/Bars.png' %}"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">

{#                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li>#}
                    {% if user.is_authenticated %}
                        {% if not user.is_staff %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'LMS-home' %}">Home</a></li>
                        {% endif %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'recommendations' %}">Recommendations</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'Member-dashboard' %}">DashBoard</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                        {% if user.is_staff %}

                                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'add-item' %}">Add</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'give-book' %}">Give-book</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'return-book' %}">Return-book</a></li>

                        {% endif %}

                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url({% static 'users/home-bg.jpg' %}) ;height: 350px;">
        <div class="overlay"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h3>Library Management System</h3><span class="subheading">A LMS in Development</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="row">
                    <div class="col-lg-12 col-md-10">
                      {% if messages %}
                        {% for message in messages%}
                        <div class="alert alert-{{ message.tags }}">
                          {{message}}
                        </div>
                        {% endfor %}
                      {% endif %}
                      {% block content %}{% endblock %}
                    </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;LMS System 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'users/jquery.min.js' %}"></script>
    <script src="{% static 'users/bootstrap.min.js' %}"></script>
    <script src="{% static 'users/clean-blog.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>